*{
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Birdseye', sans-serif; */
}
body {
    margin: 0px;

}


.header{
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.z10{
    z-index: 10;
}

.z15{
    z-index: 15;
}

.z20{
    z-index: 20;
}

.opacity{
    opacity: 70%;
}

.top{
    top: 0px;
}

.h500{
    height: 500px;
}

.Imageshadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h250{
    height: 250px;
}
.h600{
    height: 600px;
}

.h100{
    height: 100px;
}

.fontB{
    font-size: 1.5rem;
}
.fontC{
    font-size: 1.25rem;
}
@media screen and (max-width: 768px){
    .header{
        height: 300px;
    }
    .mainHuynhText{
        font-size: 64px;
    }
    .fontB{
        font-size:1.25rem;
    }
    .fontC{
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px){
    .header{
        height: 200px;
    }
    .mainHuynhText{
        font-size: 40px;
    }
    .homeImage{
        height:250px;
    }
    .homeImageText{
        height:250px;
    }
    .fontB{
        font-size: 1rem;
    }
    .fontC{
        font-size: .75rem;
    }
}